<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Sales</p>
      <p id="stats-sales" class="title">{{sales}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Customers</p>
      <p id="stats-customers" class="title">{{customers}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Servers</p>
      <p id="stats-servers" class="title">{{servers}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Players online</p>
      <p id="stats-players" class="title">{{players}}</p>
    </div>
  </div>
</nav>
