<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Sales</p>
      <p id="stats-sales" class="title odometer">0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Customers</p>
      <p id="stats-customers" class="title odometer">0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Servers</p>
      <p id="stats-servers" class="title odometer">0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Players online</p>
      <p id="stats-players" class="title odometer">0</p>
    </div>
  </div>
</nav>
