<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Sales</p>
      <p class="title">{{sales}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Customers</p>
      <p class="title">{{customers}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Servers</p>
      <p class="title">{{servers}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Players online</p>
      <p class="title">{{players}}</p>
    </div>
  </div>
</nav>